extends layout

block content
    .container.theme-showcase(role='main')
      .jumbotron
        h2 Contact Us.
        h3 Find expert tutors in your area at affordable prices. Choose based on hundreds of ratings and reviews.
        h4 Search for and hire your perfect private tutor today
      .page-header
        h1 Bootstrap starter template
        p.lead
          | Use this document as a way to quickly start any new project.
          br
          |  All you get is this text and a mostly barebones HTML document.
    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    //script(src='../../dist/js/bootstrap.min.js')
