extends layout

block content
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/javascripts/global.js')
  // Fixed navbar
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='http://localhost:3000') FindMyTutor
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='http://localhost:3000') Home
          li
            a(href='http://localhost:3000/about') About
        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://localhost:3000/tutor-signup') Become a Tutor
          li
            a(href='http://localhost:3000/signup') Become a Student
          li
            a(href='http://localhost:3000/login') Sign In
      // /.nav-collapse
  .container.theme-showcase(role='main')
    br
    br
    br
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      h2 Welcome to FindMyTutor.
      h3 Find expert tutors in your area at affordable prices. Choose based on hundreds of ratings and reviews.
      h4 Search for and hire your perfect private tutor today
      #search
        form.navbar-form(role='form')
          .form-group
            input.form-control#inputSubject(type='text', placeholder='Subject')
          button#btnSearch.btn.btn-success Search
    br
    br
    #tutorList
      ul.list-group
    // /TUTOR LIST
  // /container
  //
    Bootstrap core JavaScript
    ==================================================
  // Placed at the end of the document so the pages load faster
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src='/bootstrap-3.2.0/docs/assets/js/docs.min.js')
