extends layout

block content
    // Fixed navbar
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://tutordemo.mybluemix.net') FindMyTutor
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='http://tutordemo.mybluemix.net') Home
            li
              a(href='http://tutordemo.mybluemix.net/about') About
          ul.nav.navbar-nav.navbar-right
            li
              a(href='http://tutordemo.mybluemix.net/tutor-signup') Become a Tutor
            li
              a(href='http://tutordemo.mybluemix.net/signup') Become a Student
            li.active
              a(href='http://tutordemo.mybluemix.net/login') Sign In
        // /.nav-collapse
    .container.theme-showcase(role='main')
      br
      br
      br
      h2 Sign In
      br
      form.form-horizontal(role='form')
        .form-group
          label.col-sm-2.control-label(for='inputEmail') Email Address
          .col-sm-10
            input#inputEmail.form-control(type='email', placeholder='Email Address')
        .form-group
          label.col-sm-2.control-label(for='inputPassword') Password
          .col-sm-10
            input#inputPassword.form-control(type='password', placeholder='Password')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-success(type='submit') Sign in
    
    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/bootstrap-3.2.0/docs/assets/js/docs.min.js')
