extends layout

block content
    // Fixed navbar
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://tutordemo.mybluemix.net') FindMyTutor
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='http://tutordemo.mybluemix.net') Home
            li
              a(href='http://tutordemo.mybluemix.net/about') About
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='http://tutordemo.mybluemix.net/tutor-signup') Become a Tutor
            li
              a(href='http://tutordemo.mybluemix.net/signup') Become a Student
            li
              a(href='http://tutordemo.mybluemix.net/login') Sign In
        // /.nav-collapse
    .container.theme-showcase(role='main')
      br
      br
      br
      h2 Find great tutoring jobs in your area
      h4 Register today and immediately connect with local students.
      br
      form.form-horizontal(role='form')
        .form-group
          label.col-sm-2.control-label(for='tutorInputName') Full Name
          .col-sm-10
            input#tutorInputName.form-control(type='text', placeholder='Full Name')
        .form-group
          label.col-sm-2.control-label(for='inputEmail') Email Address
          .col-sm-10
            input#inputEmail.form-control(type='email', placeholder='Email Address')
        .form-group
          label.col-sm-2.control-label(for='inputPassword') Password
          .col-sm-10
            input#inputPassword.form-control(type='password', placeholder='Password')
        .form-group
          label.col-sm-2.control-label(for='inputZip') Zip Code
          .col-sm-10
            input#inputZip.form-control(type='text', placeholder='Zip Code')
        .form-group
          label.col-sm-2.control-label(for='inputRate') Rate
          .col-sm-10
            .input-group
              span.input-group-addon $
              input#inputZip.form-control(type='text', placeholder='Rate')
        .form-group
          label.col-sm-2.control-label(for='inputBio') Bio
          .col-sm-10
            textarea#inputBio.form-control(type='text', placeholder='Bio')
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-success(type='submit') Sign up
    
    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='/bootstrap-3.2.0/docs/tutordemo.mybluemix.nets/js/docs.min.js')
